<html>
    <head>
        <link rel="stylesheet" href="bootstrap.css" />
        <style>
         .menu-highlight {
             background: #70a6b7;
         }
         .well {
             padding: 5px;
             margin: 5px;
         }
         .col-xs-4 {
             padding: 0px;
         }
         .navbar {
             margin: 5px;
         }

        </style>
        <script type="text/html" id="chart-template">
            <div class="col-xs-3">
                <div class="well">
                    <img src="<%- url %>" />
                </div>
            </div>
        </script>
    </head>

    <div>
        <!-- Barre de menu -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li id="menu1-view" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <span>Distribution<span class="caret"></span></span><br/>
                                <span class="menu-title"></span>
                            </a>
                            <ul class="dropdown-menu"></ul>
                        </li>
                        <li id="menu2-view" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Forecast<span class="caret"></span></span><br/>
                                <span class="menu-title"></span>
                            </a>
                            <ul class="dropdown-menu"></ul>
                        </li>
                       <li id="menu3-view" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Observation<span class="caret"></span></span><br/>
                                <span class="menu-title"></span>
                            </a>
                            <ul class="dropdown-menu"></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Graphiques -->
        <div id="charts-view">
        </div>
    </div>

    <body>
        <!-- JQuery -->
        <script src="jquery.min.js"></script>
        <!-- Underscore, Backbone -->
        <script src="underscore.js"></script>
        <script src="backbone-min.js"></script>
        <!-- Bootstrap -->
        <script src="bootstrap.min.js"></script>
        <!-- Application principale -->
        <script src="main.js"></script>
        <script>
         $(document).ready(function() {
             new MainView();
         });
        </script>
    </body>
</html>
